// RESET
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif
}

// FONTAWESOME
@import url('https://use.fontawesome.com/releases/v5.7.1/css/all.css');

//VARIABLES
@import './variables.scss';

// CONTAINER
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.container-fluid{
    width: 100%;
}

// ROW
.row{
    display: flex;
}

// IMG
.img-fluid{
    width: 100%;
}

//BUTTONS
.button_1{
    background-color: $green-color;
    color: $primary-text-color;
    border-radius: 30px;
    padding: 12px 30px;
    cursor: pointer;
}

//LIST ITEMS
li{
    cursor: pointer;
}